<section class="quick-search">
    <form class="quick-search-form">
        <select class="quick-search-form-control">
            <option>What are you lookig for?</option>
            <option>Hospitals</option>
            <option>Doctors</option>
            <option>Clinics</option>
        </select>
        <select class="quick-search-form-control">
            <option>Choose your nearest City !</option>
            <option>Kathmandu</option>
            <option>Lalitpur</option>
            <option>Bhaktapur</option>
            <option>Dharan</option>
            <option>Itaharu</option>
            <option>Biratnagar</option>
            <option>Butwal</option>
            <option>Chitwan</option>
            <option>Pokhara</option>
        </select>
        <button class="quick-search-form-submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
</section>